<a href="https://colab.research.google.com/github/DiegoDangelo/Desafio_Smattbot/blob/main/Desafio_Smarttbot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Configurações Iniciais

Visando uma mais escalabilidade, será usada spark e pyspark, visto que estes

In [ ]:
#instalar java, spark e finspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.2.0/spark-3.2.0-bin-hadoop2.7.tgz
!tar xf spark-3.2.0-bin-hadoop2.7.tgz
!pip install -q findspark

#definir diretórios
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop2.7"

#importar finspark
import findspark
findspark.init()

Inicializar instancia spark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').getOrCreate()

Importar arquivos csv

In [ ]:
person = spark.read.csv('data/Person.Person.csv', sep = ';', header = True)
person.createOrReplaceTempView('Person_Person')

product = spark.read.csv('data/Production.Product.csv', sep = ';', header = True)
product.createOrReplaceTempView('Production_Product')

customer = spark.read.csv('data/Sales.Customer.csv', sep = ';', header = True)
customer.createOrReplaceTempView('Sales_Customer')

order_detail = spark.read.csv('data/Sales.SalesOrderDetail.csv', sep = ';', header = True)
order_detail.createOrReplaceTempView('Sales_SalesOrderDetail')

order_header = spark.read.csv('data/Sales.SalesOrderHeader.csv', sep = ';', header = True)
order_header.createOrReplaceTempView('Sales_SalesOrderHeader')

offer_product = spark.read.csv('data/Sales.SpecialOfferProduct.csv', sep = ';', header = True)
offer_product.createOrReplaceTempView('Sales_SpecialOfferProduct')

# Análise exploratória dos dados

In [ ]:
#Observar estrutura (top 5)

person.show(5)
product.show(5)
customer.show(5)
order_detail.show(5)
order_header.show(5)
offer_product.show(5)

+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|  LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|        ModifiedDate|
+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|               1|        EM|        0| NULL|      Ken|         J|   Sánchez|  NULL|             0|                 NULL|"<IndividualSurve...|92C4279F-1207-48A...|2009-01-07 00:00:...|
|               2|        EM|        0| NULL|    Terri|       Lee|     Duffy|  NULL|             1|                 NULL|"<IndividualSurve...|D8763459-8AA8-47C...|2008-01-24 00:00:...|
|               3|        EM|        0| NULL|  Roberto|      NULL|Tamburello|  NULL|             0|                 NULL|"<IndividualSurve...|E1A2555E-0828-434...|2007-11-04 00:00:...|
|               4|        EM|        0| NULL|      Rob|      NULL|   Walters|  NULL|             0|                 NULL|"<IndividualSurve...|F2D7CE06-38B3-435...|2007-11-28 00:00:...|
|               5|        EM|        0|  Ms.|     Gail|         A|  Erickson|  NULL|             0|                 NULL|"<IndividualSurve...|F3A3F6B4-AE3B-430...|2007-12-30 00:00:...|
+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+--------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag|Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|       SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+--------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0| NULL|            1000|         750|        0,00|     0,00|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:...|       NULL|            NULL|694215B7-08F7-4C0...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0| NULL|            1000|         750|        0,00|     0,00|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:...|       NULL|            NULL|58AE3C20-4F3A-474...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0| NULL|             800|         600|        0,00|     0,00|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:...|       NULL|            NULL|9C21AED2-5BFA-4F1...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0| NULL|             800|         600|        0,00|     0,00|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:...|       NULL|            NULL|ECFED6CB-51FF-49B...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0| NULL|             800|         600|        0,00|     0,00|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:...|       NULL|            NULL|E73E9750-603B-413...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+--------------------+-----------+----------------+--------------------+--------------------+
only showing top 5 rows

+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|CustomerID|PersonID|StoreID|TerritoryID|AccountNumber|             rowguid|        ModifiedDate|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
|         1|    NULL|    934|          1|   AW00000001|3F5AE95E-B87D-4AE...|2014-09-12 11:15:...|
|         2|    NULL|   1028|          1|   AW00000002|E552F657-A9AF-4A7...|2014-09-12 11:15:...|
|         3|    NULL|    642|          4|   AW00000003|130774B1-DB21-4EF...|2014-09-12 11:15:...|
|         4|    NULL|    932|          4|   AW00000004|FF862851-1DAA-404...|2014-09-12 11:15:...|
|         5|    NULL|   1026|          4|   AW00000005|83905BDC-6F5E-4F7...|2014-09-12 11:15:...|
+----------+--------+-------+-----------+-------------+--------------------+--------------------+
only showing top 5 rows

+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+--------------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|  LineTotal|             rowguid|        ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+--------------------+
|       43659|                 1|         4911-403C-98|       1|      776|             1| 2024,994|             0,00|2024.994000|B207C96D-D9E6-402...|2011-05-31 00:00:...|
|       43659|                 2|         4911-403C-98|       3|      777|             1| 2024,994|             0,00|6074.982000|7ABB600D-1E77-41B...|2011-05-31 00:00:...|
|       43659|                 3|         4911-403C-98|       1|      778|             1| 2024,994|             0,00|2024.994000|475CF8C6-49F6-486...|2011-05-31 00:00:...|
|       43659|                 4|         4911-403C-98|       1|      771|             1| 2039,994|             0,00|2039.994000|04C4DE91-5815-45D...|2011-05-31 00:00:...|
|       43659|                 5|         4911-403C-98|       1|      772|             1| 2039,994|             0,00|2039.994000|5A74C7D2-E641-438...|2011-05-31 00:00:...|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+-----------+--------------------+--------------------+
only showing top 5 rows

+------------+--------------+--------------------+--------------------+--------------------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+-------+--------------------+--------------------+
|SalesOrderID|RevisionNumber|           OrderDate|             DueDate|            ShipDate|Status|OnlineOrderFlag|SalesOrderNumber|PurchaseOrderNumber| AccountNumber|CustomerID|SalesPersonID|TerritoryID|BillToAddressID|ShipToAddressID|ShipMethodID|CreditCardID|CreditCardApprovalCode|CurrencyRateID|  SubTotal|   TaxAmt| Freight|  TotalDue|Comment|             rowguid|        ModifiedDate|
+------------+--------------+--------------------+--------------------+--------------------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+-------+--------------------+--------------------+
|       43659|             8|2011-05-31 00:00:...|2011-06-12 00:00:...|2011-06-07 00:00:...|     5|              0|         SO43659|        PO522145787|10-4020-000676|     29825|          279|          5|            985|            985|           5|       16281|         105041Vi84182|          NULL|20565,6206|1971,5149|616,0984|23153,2339|   NULL|79B65321-39CA-411...|2011-06-07 00:00:...|
|       43660|             8|2011-05-31 00:00:...|2011-06-12 00:00:...|2011-06-07 00:00:...|     5|              0|         SO43660|      PO18850127500|10-4020-000117|     29672|          279|          5|            921|            921|           5|        5618|         115213Vi29411|          NULL| 1294,2529| 124,2483| 38,8276| 1457,3288|   NULL|738DC42D-D03B-48A...|2011-06-07 00:00:...|
|       43661|             8|2011-05-31 00:00:...|2011-06-12 00:00:...|2011-06-07 00:00:...|     5|              0|         SO43661|      PO18473189620|10-4020-000442|     29734|          282|          6|            517|            517|           5|        1346|           85274Vi6854|             4|32726,4786|3153,7696| 985,553|36865,8012|   NULL|D91B9131-18A4-4A1...|2011-06-07 00:00:...|
|       43662|             8|2011-05-31 00:00:...|2011-06-12 00:00:...|2011-06-07 00:00:...|     5|              0|         SO43662|      PO18444174044|10-4020-000227|     29994|          282|          6|            482|            482|           5|       10456|         125295Vi53935|             4|28832,5289|2775,1646|867,2389|32474,9324|   NULL|4A1ECFC0-CC3A-474...|2011-06-07 00:00:...|
|       43663|             8|2011-05-31 00:00:...|2011-06-12 00:00:...|2011-06-07 00:00:...|     5|              0|         SO43663|      PO18009186470|10-4020-000510|     29565|          276|          4|           1073|           1073|           5|        4322|          45303Vi22691|          NULL|  419,4589|  40,2681| 12,5838|  472,3108|   NULL|9B1E7A40-6AE0-4AD...|2011-06-07 00:00:...|
+------------+--------------+--------------------+--------------------+--------------------+------+---------------+----------------+-------------------+--------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+----------+---------+--------+----------+-------+--------------------+--------------------+
only showing top 5 rows

+--------------+---------+--------------------+--------------------+
|SpecialOfferID|ProductID|             rowguid|        ModifiedDate|
+--------------+---------+--------------------+--------------------+
|             1|      680|BB30B868-D86C-455...|2011-04-01 00:00:...|
|             1|      706|B3C9A4B1-2AE6-4CB...|2011-04-01 00:00:...|
|             1|      707|27B711FE-0B77-4EA...|2011-04-01 00:00:...|
|             1|      708|46CBB78B-246E-4D6...|2011-04-01 00:00:...|
|             1|      709|CF102AA0-055F-4D2...|2011-04-01 00:00:...|
+--------------+---------+--------------------+--------------------+
only showing top 5 rows

In [ ]:
#Resumo dos dados
person.summary().show()
product.summary().show()
customer.summary().show()
order_detail.summary().show()
order_header.summary().show()
offer_product.summary().show()

+-------+-----------------+----------+---------+-----+---------+----------+--------+------+------------------+---------------------+--------------------+--------------------+--------------------+
|summary| BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|LastName|Suffix|    EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|        ModifiedDate|
+-------+-----------------+----------+---------+-----+---------+----------+--------+------+------------------+---------------------+--------------------+--------------------+--------------------+
|  count|            17021|     17021|    17021|17021|    17021|     17021|   17021| 17021|             17021|                17021|               17021|               17021|               17021|
|   mean|9282.652018095294|      null|      0.0| null|     null|      null|    null|  null|0.6312202573291816|                 null|                null|                null|                null|
| stddev|4970.476699209613|      null|      0.0| null|     null|      null|    null|  null|0.7828271985265668|                 null|                null|                null|                null|
|    min|                1|        EM|        0|  Mr.|       A.|         A|   Abbas|    II|                 0| "<AdditionalConta...|"<IndividualSurve...|000191EF-7424-4A5...|2006-06-23 00:00:...|
|    25%|           5060.0|      null|      0.0| null|     null|      null|    null|  null|               0.0|                 null|                null|                null|                null|
|    50%|           9316.0|      null|      0.0| null|     null|      null|    null|  null|               0.0|                 null|                null|                null|                null|
|    75%|          13572.0|      null|      0.0| null|     null|      null|    null|  null|               1.0|                 null|                null|                null|                null|
|    max|             9999|        VC|        0| Sra.|      Zoe|         l|Zwilling|   Sr.|                 2|                 NULL|"<IndividualSurve...|FFFF4F5E-57D3-472...|2015-04-15 16:33:...|
+-------+-----------------+----------+---------+-----+---------+----------+--------+------+------------------+---------------------+--------------------+--------------------+--------------------+

+-------+------------------+-----------------+-------------+------------------+-------------------+------+-----------------+------------------+------------+---------+------------------+-------------------+---------------------+------------------+------------------+-----------+-----+-----+--------------------+-----------------+--------------------+--------------------+----------------+--------------------+--------------------+
|summary|         ProductID|             Name|ProductNumber|          MakeFlag|  FinishedGoodsFlag| Color| SafetyStockLevel|      ReorderPoint|StandardCost|ListPrice|              Size|SizeUnitMeasureCode|WeightUnitMeasureCode|            Weight| DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|   ProductModelID|       SellStartDate|         SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+-------+------------------+-----------------+-------------+------------------+-------------------+------+-----------------+------------------+------------+---------+------------------+-------------------+---------------------+------------------+------------------+-----------+-----+-----+--------------------+-----------------+--------------------+--------------------+----------------+--------------------+--------------------+
|  count|               504|              504|          504|               504|                504|   504|              504|               504|         504|      504|               504|                504|                  504|               504|               504|        504|  504|  504|                 504|              504|                 504|                 504|             504|                 504|                 504|
|   mean| 673.0396825396825|             null|         null|0.4742063492063492| 0.5853174603174603|  null|535.1507936507936|401.36309523809524|        null|     null|48.983050847457626|               null|                 null| 74.06921951219512|1.1031746031746033|       null| null| null|  12.294915254237289|37.44406779661017|                null|                null|            null|                null|                null|
| stddev|229.37314180957824|             null|         null|0.4998303540029047|0.49315664605418624|  null|374.1129536209128| 280.5847152156847|        null|     null| 7.249196331844457|               null|                 null|182.16658823718498|1.4926159675916595|       null| null| null|   9.860134530977973|34.02544201748429|                null|                null|            null|                null|                null|
|    min|                 1|     AWC Logo Cap|      AR-5381|                 0|                  0| Black|              100|                 3|        0,00|     0,00|                38|                CM |                  G  |           1000.00|                 0|         M |   H |   M |                   1|                1|2008-04-30 00:00:...|2012-05-29 00:00:...|            NULL|01A8C3FC-ED52-458...|2014-02-08 10:01:...|
|    25%|             447.0|             null|         null|               0.0|                0.0|  null|            100.0|              75.0|        null|     null|              44.0|               null|                 null|              2.88|               0.0|       null| null| null|                 2.0|             11.0|                null|                null|            null|                null|                null|
|    50%|             747.0|             null|         null|               0.0|                1.0|  null|            500.0|             375.0|        null|     null|              48.0|               null|                 null|              17.9|               1.0|       null| null| null|                12.0|             26.0|                null|                null|            null|                null|                null|
|    75%|             873.0|             null|         null|               1.0|                1.0|  null|           1000.0|             750.0|        null|     null|              54.0|               null|                 null|             27.35|               1.0|       null| null| null|                17.0|             49.0|                null|                null|            null|                null|                null|
|    max|               999|Women's Tights, S|      WB-H098|                 1|                  1|Yellow|              800|               750|       98,77|    91,57|                XL|               NULL|                 NULL|              NULL|                 4|         T | NULL|   W |                NULL|             NULL|2013-05-30 00:00:...|                NULL|            NULL|FE0678ED-AEF2-4C5...|2014-02-08 10:03:...|
+-------+------------------+-----------------+-------------+------------------+-------------------+------+-----------------+------------------+------------+---------+------------------+-------------------+---------------------+------------------+------------------+-----------+-----+-----+--------------------+-----------------+--------------------+--------------------+----------------+--------------------+--------------------+

+-------+------------------+-----------------+------------------+------------------+-------------+--------------------+--------------------+
|summary|        CustomerID|         PersonID|           StoreID|       TerritoryID|AccountNumber|             rowguid|        ModifiedDate|
+-------+------------------+-----------------+------------------+------------------+-------------+--------------------+--------------------+
|  count|             19820|            19820|             19820|             19820|        19820|               19820|               19820|
|   mean|  19844.2770938446|11184.19022961452|1037.6549401197606|  5.82497477295661|         null|                null|                null|
| stddev|6581.7859142707575| 5578.70597685964| 475.9147548439723|3.0426757383909195|         null|                null|                null|
|    min|                 1|            10000|              1000|                 1|   AW00000001|0006E071-D04E-426...|2014-09-12 11:15:...|
|    25%|           15252.0|           6438.0|             648.0|               4.0|         null|                null|                null|
|    50%|           20207.0|          11217.0|             992.0|               6.0|         null|                null|                null|
|    75%|           25161.0|          15996.0|            1342.0|               9.0|         null|                null|                null|
|    max|                99|             NULL|              NULL|                 9|   AW00030118|FFFFF252-5BFC-482...|2014-09-12 11:15:...|
+-------+------------------+-----------------+------------------+------------------+-------------+--------------------+--------------------+

+-------+------------------+------------------+---------------------+------------------+-----------------+------------------+---------+-----------------+-----------------+--------------------+--------------------+
|summary|      SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|          OrderQty|        ProductID|    SpecialOfferID|UnitPrice|UnitPriceDiscount|        LineTotal|             rowguid|        ModifiedDate|
+-------+------------------+------------------+---------------------+------------------+-----------------+------------------+---------+-----------------+-----------------+--------------------+--------------------+
|  count|            121317|            121317|               121317|            121317|           121317|            121317|   121317|           121317|           121317|              121317|              121317|
|   mean|57827.363782487206|           60659.0|                 null|2.2660797744751355|841.6808361565156|1.1625411113034447|     null|             null|905.4492066224303|                null|                null|
| stddev| 9009.147901593558|35021.345640908774|                 null|  2.49132317472756|86.45212373776558|1.2186043802028799|     null|             null|1693.417388970924|                null|                null|
|    min|             43659|                 1|         000A-434D-BC|                 1|              707|                 1|   1,3282|             0,00|         1.374000|0000C99C-2B71-488...|2011-05-31 00:00:...|
|    25%|           49884.0|           30334.0|                 null|               1.0|            768.0|               1.0|     null|             null|            24.99|                null|                null|
|    50%|           57029.0|           60658.0|                 null|               1.0|            863.0|               1.0|     null|             null|          134.982|                null|                null|
|    75%|           65485.0|           90979.0|                 null|               3.0|            921.0|               1.0|     null|             null|          1120.49|                null|                null|
|    max|             75123|             99999|                 NULL|                 9|              999|                 9| 986,5742|             0,40|      9944.658192|FFFF365B-8BAC-4A2...|2014-06-30 00:00:...|
+-------+------------------+------------------+---------------------+------------------+-----------------+------------------+---------+-----------------+-----------------+--------------------+--------------------+

+-------+-----------------+-------------------+--------------------+--------------------+--------------------+------+-------------------+----------------+-------------------+--------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+-----------------+----------------------+-----------------+----------+---------+-------+---------+-------+--------------------+--------------------+
|summary|     SalesOrderID|     RevisionNumber|           OrderDate|             DueDate|            ShipDate|Status|    OnlineOrderFlag|SalesOrderNumber|PurchaseOrderNumber| AccountNumber|       CustomerID|    SalesPersonID|      TerritoryID|   BillToAddressID|   ShipToAddressID|      ShipMethodID|     CreditCardID|CreditCardApprovalCode|   CurrencyRateID|  SubTotal|   TaxAmt|Freight| TotalDue|Comment|             rowguid|        ModifiedDate|
+-------+-----------------+-------------------+--------------------+--------------------+--------------------+------+-------------------+----------------+-------------------+--------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+-----------------+----------------------+-----------------+----------+---------+-------+---------+-------+--------------------+--------------------+
|  count|            31465|              31465|               31465|               31465|               31465| 31465|              31465|           31465|              31465|         31465|            31465|            31465|            31465|             31465|             31465|             31465|            31465|                 31465|            31465|     31465|    31465|  31465|    31465|  31465|               31465|               31465|
|   mean|          59391.0|  8.000953440330527|                null|                null|                null|   5.0| 0.8790402034006038|            null|               null|          null|20170.17568727157|280.6079873883342|6.090767519466073|18263.154425552202|18249.192563165423|1.4838391863975846|9684.100448341795|                  null|9191.499570692617|      null|     null|   null|     null|   null|                null|                null|
| stddev|9083.307446446295|0.03086359596270263|                null|                null|                null|   0.0|0.32608573040976807|            null|               null|          null|6261.728960399545| 4.84696464571845|2.958119226920885| 8210.069157791939| 8218.429262817577|1.3043429216390754|5566.299591312078|                  null|2945.170095382149|      null|     null|   null|     null|   null|                null|                null|
|    min|            43659|                  8|2011-05-31 00:00:...|2011-06-12 00:00:...|2011-06-07 00:00:...|     5|                  0|         SO43659|               NULL|10-4020-000001|            11000|              274|                1|              1000|              1000|                 1|                1|        1016006Vi91301|            10000|     1,374|   0,1099| 0,0344|   1,5183|   NULL|0000DE87-AB3F-492...|2011-06-07 00:00:...|
|    25%|          51524.0|                8.0|                null|                null|                null|   5.0|                1.0|            null|               null|          null|          14432.0|            277.0|              4.0|           14079.0|           14062.0|               1.0|           4894.0|                  null|           8510.0|      null|     null|   null|     null|   null|                null|                null|
|    50%|          59390.0|                8.0|                null|                null|                null|   5.0|                1.0|            null|               null|          null|          19450.0|            279.0|              6.0|           19448.0|           19436.0|               1.0|           9718.0|                  null|          10074.0|      null|     null|   null|     null|   null|                null|                null|
|    75%|          67254.0|                8.0|                null|                null|                null|   5.0|                1.0|            null|               null|          null|          25992.0|            284.0|              9.0|           24678.0|           24670.0|               1.0|          14508.0|                  null|          11282.0|      null|     null|   null|     null|   null|                null|                null|
|    max|            75123|                  9|2014-06-30 00:00:...|2014-07-12 00:00:...|2014-07-07 00:00:...|     5|                  1|         SO75123|       PO9976195169|10-4030-029483|            30118|             NULL|                9|               999|               999|                 5|             NULL|                  NULL|             NULL|99514,5024|9979,0212|995,912|99952,438|   NULL|FFFE293D-6CC6-445...|2014-07-07 00:00:...|
+-------+-----------------+-------------------+--------------------+--------------------+--------------------+------+-------------------+----------------+-------------------+--------------+-----------------+-----------------+-----------------+------------------+------------------+------------------+-----------------+----------------------+-----------------+----------+---------+-------+---------+-------+--------------------+--------------------+

+-------+------------------+-----------------+--------------------+--------------------+
|summary|    SpecialOfferID|        ProductID|             rowguid|        ModifiedDate|
+-------+------------------+-----------------+--------------------+--------------------+
|  count|               538|              538|                 538|                 538|
|   mean|2.7118959107806693|849.4702602230483|                null|                null|
| stddev| 3.478142408113732|86.58989606682316|                null|                null|
|    min|                 1|              680|0020931C-087C-42F...|2011-04-01 00:00:...|
|    25%|               1.0|            775.0|                null|                null|
|    50%|               1.0|            855.0|                null|                null|
|    75%|               2.0|            928.0|                null|                null|
|    max|                 9|              999|FFE24AE4-9E46-433...|2014-03-01 00:00:...|
+-------+------------------+-----------------+--------------------+--------------------+

# Análise dos dados

Escreva uma query que retorna a quantidade de linhas na tabela Sales.SalesOrderDetail pelo campo SalesOrderID, desde que tenham pelo menos três linhas de detalhes

In [ ]:
spark.sql(""" 

SELECT COUNT(DISTINCT t.SalesOrderID)
FROM 
(
  SELECT COUNT(SalesOrderID) OVER(PARTITION BY SalesOrderID) as count,SalesOrderID
  FROM Sales_SalesOrderDetail
) as t
where t.count >= 3 

""").show()

+----------------------------+
|count(DISTINCT SalesOrderID)|
+----------------------------+
|                       12757|
+----------------------------+

Escreva uma query que ligue as tabelas Sales.SalesOrderDetail, Sales.SpecialOfferProduct e Production.Product e retorne os 3 produtos (Name) mais vendidos (pela soma de OrderQty), agrupados pelo número de dias para manufatura (DaysToManufacture).

In [ ]:
spark.sql(""" 

SELECT DaysToManufacture, Name, nu_orders
FROM(
SELECT *,
  ROW_NUMBER() OVER(PARTITION BY b4.DaysToManufacture ORDER BY nu_orders DESC) as posicao
FROM 
  (SELECT SUM(b1.OrderQty) as nu_orders, b2.ProductID
    FROM Sales_SalesOrderDetail as b1
    JOIN Sales_SpecialOfferProduct as b2 ON b1.SpecialOfferID = b2.SpecialOfferID
    GROUP BY b2.ProductID
  ) b3
JOIN Production_Product AS b4 ON b3.ProductID = b4.ProductID
)
WHERE posicao <= 3

""").show()

+-----------------+--------------------+---------+
|DaysToManufacture|                Name|nu_orders|
+-----------------+--------------------+---------+
|                0|Full-Finger Glove...| 270244.0|
|                0|Women's Mountain ...| 270244.0|
|                0|Water Bottle - 30...| 270159.0|
|                1|LL Mountain Handl...| 267838.0|
|                1|HL Touring Frame ...| 267838.0|
|                1|ML Mountain Rear ...| 267838.0|
|                2|LL Mountain Frame...| 257125.0|
|                2|HL Mountain Frame...| 257125.0|
|                2|HL Mountain Frame...| 238944.0|
|                4|Road-350-W Yellow...| 270159.0|
|                4|Touring-3000 Blue...| 269419.0|
|                4|Touring-1000 Yell...| 268613.0|
+-----------------+--------------------+---------+

Escreva uma query ligando as tabelas Person.Person, Sales.Customer e 
Sales.SalesOrderHeader de forma a obter uma lista de nomes de clientes e uma contagem de pedidos efetuados.

In [ ]:
spark.sql(""" 

SELECT DISTINCT b2.CustomerID, 
       CONCAT(b3.FirstName, ' ', b3.LastName) as name, 
       COUNT(*) OVER(PARTITION BY b2.PersonID)  AS qtd 
FROM Sales_SalesOrderHeader as b1
INNER JOIN	Sales_Customer as b2 ON b1.CustomerID = b2.CustomerID
INNER JOIN Person_Person as b3 ON b2.PersonID = b3.BusinessEntityID 
ORDER BY qtd DESC

""").show()

+----------+-----------------+---+
|CustomerID|             name|qtd|
+----------+-----------------+---+
|     11176|    Mason Roberts| 28|
|     11091|     Dalton Perez| 28|
|     11331| Samantha Jenkins| 27|
|     11277|  Charles Jackson| 27|
|     11185| Ashley Henderson| 27|
|     11200|    Jason Griffin| 27|
|     11300|  Fernando Barnes| 27|
|     11223| Hailey Patterson| 27|
|     11276|    Nancy Chapman| 27|
|     11287|     Henry Garcia| 27|
|     11203|        Luis Diaz| 17|
|     11078|      Gina Martin| 17|
|     11215|        Ana Perry| 17|
|     11212|   Chloe Campbell| 17|
|     11019|         Luke Lal| 17|
|     11142|Eduardo Patterson| 17|
|     11211| Samantha Russell| 17|
|     11519|   Jerome Navarro| 16|
|     11619|     Sierra Young| 16|
|     11253|   José Hernandez| 16|
+----------+-----------------+---+
only showing top 20 rows

Escreva uma query usando as tabelas Sales.SalesOrderHeader, Sales.SalesOrderDetail e Production.Product, de forma a obter a soma total de produtos (OrderQty) por ProductID e OrderDate.

In [ ]:
spark.sql(""" 

SELECT b1.ProductID as id, 
       b3.Name as name,
       b2.OrderDate, 
       sum(b1.OrderQty) as sum_total
FROM Sales_SalesOrderDetail AS b1
INNER JOIN Sales_SalesOrderHeader as b2 ON b1.SalesOrderID  = b2.SalesOrderID 
INNER JOIN Production_Product AS b3 ON b1.ProductID = b3.ProductID 
GROUP BY b1.ProductID, b3.Name, b2.OrderDate
ORDER BY b2.OrderDate

""").show()

+---+--------------------+--------------------+---------+
| id|                name|           OrderDate|sum_total|
+---+--------------------+--------------------+---------+
|726|LL Road Frame - R...|2011-05-31 00:00:...|      9.0|
|732|ML Road Frame - R...|2011-05-31 00:00:...|     16.0|
|777|Mountain-100 Blac...|2011-05-31 00:00:...|     23.0|
|716|Long-Sleeve Logo ...|2011-05-31 00:00:...|     19.0|
|710|Mountain Bike Soc...|2011-05-31 00:00:...|      5.0|
|729|LL Road Frame - R...|2011-05-31 00:00:...|     16.0|
|770|  Road-650 Black, 52|2011-05-31 00:00:...|     29.0|
|715|Long-Sleeve Logo ...|2011-05-31 00:00:...|     49.0|
|756|    Road-450 Red, 44|2011-05-31 00:00:...|     14.0|
|707|Sport-100 Helmet,...|2011-05-31 00:00:...|     24.0|
|767|  Road-650 Black, 62|2011-05-31 00:00:...|      1.0|
|778|Mountain-100 Blac...|2011-05-31 00:00:...|     20.0|
|722|LL Road Frame - B...|2011-05-31 00:00:...|      8.0|
|764|    Road-650 Red, 52|2011-05-31 00:00:...|     14.0|
|754|    Road-450 Red, 58|2011-05-31 00:00:...|     27.0|
|725|LL Road Frame - R...|2011-05-31 00:00:...|     15.0|
|749|    Road-150 Red, 62|2011-05-31 00:00:...|      4.0|
|711|Sport-100 Helmet,...|2011-05-31 00:00:...|     33.0|
|709|Mountain Bike Soc...|2011-05-31 00:00:...|     38.0|
|738|LL Road Frame - B...|2011-05-31 00:00:...|     19.0|
+---+--------------------+--------------------+---------+
only showing top 20 rows

Escreva uma query mostrando os campos SalesOrderID, OrderDate e TotalDue da tabela Sales.SalesOrderHeader. Obtenha apenas as linhas onde a ordem tenha sido feita durante o mês de setembro/2011 e o total devido esteja acima de 1.000. Ordene pelo total devido decrescente.

In [ ]:
spark.sql(""" 
SELECT *
FROM(
SELECT SalesOrderID, DATE(OrderDate) as OrderDate, CAST(REPLACE(TotalDue,',','.') AS INT) as TotalDue
FROM Sales_SalesOrderHeader 
WHERE DATE(OrderDate) BETWEEN DATE('2011-09-01') AND DATE('2011-09-30')
ORDER BY TotalDue DESC
)
WHERE TotalDue > 1000

""").show()

+------------+----------+--------+
|SalesOrderID| OrderDate|TotalDue|
+------------+----------+--------+
|       44348|2011-09-07|    3953|
|       44372|2011-09-09|    3953|
|       44349|2011-09-07|    3953|
|       44350|2011-09-07|    3953|
|       44371|2011-09-09|    3953|
|       44351|2011-09-07|    3953|
|       44328|2011-09-02|    3953|
|       44352|2011-09-07|    3953|
|       44330|2011-09-02|    3953|
|       44332|2011-09-03|    3953|
|       44370|2011-09-09|    3953|
|       44357|2011-09-07|    3953|
|       44338|2011-09-04|    3953|
|       44358|2011-09-07|    3953|
|       44340|2011-09-04|    3953|
|       44359|2011-09-08|    3953|
|       44344|2011-09-06|    3953|
|       44360|2011-09-08|    3953|
|       44347|2011-09-06|    3953|
|       44361|2011-09-08|    3953|
+------------+----------+--------+
only showing top 20 rows